/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
}

h2 {
  padding :30px;
}
.box1 {
  text-align: center;
  margin:0 auto;
  width:80%;
}

.title-logo{
  font-size: 50px;
  color:gray;
  text-align: center;
  padding: 50px 0px;
  letter-spacing: 10px;
}

.button-next{
  font-size: 20px;
  padding:10px 30px;
  margin:20px auto;
  border-width:3px;
  border-color: black;
}

.btn-real {
  display: inline-block;
  text-decoration: none;

  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 40px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #b5b5b5;
}
.fa-power-off{
  color: rgba(152, 0, 152, 0.43);/*アイコン色*/
}
.fa-broadcast-tower{
  color: rgba(0, 152, 152, 0.43);/*アイコン色*/
}


.btn-real i {
  line-height: 80px;
}
.btn-real:active {
  /*押したとき*/
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: none;
}

.main p {
  letter-spacing: 2px;
  line-height:30px;
}
.q1 h2{
padding:0px;
}
h3{
margin:20px;
}

input {
  padding:20px;
  margin-bottom:30px;
  width:400px;
  border:1px solid #dee7ec;
  font-size:100%;
}
/* ここからCSSを記述してください */
