<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PORTAL</title>
    <link rel="stylesheet" href="css/stylesheet.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>
  <body>
    <!-- ここからHTMLを書き始めてください -->
    <header>
      <div class="title-logo">
        <p>PORTAL</p>
      </div>
    </header>
    <div class="box1">
      <div class="q1">
        <img src="image/qr20191110151332304.png"><br>

        <!--<div class="button-next">
          <a href="#" class="btn-real">
            <i class="fa fa-power-off"></i>
          </a>

        </div> -->




<html lang="ja" ng-app>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/
angularjs/1.2.15/angular.min.js"></script>
<script>
function SampleController($scope) {
$scope.click = function() {
if ($scope.text == 'hacking') {
  window.open("index3.html","good","");
$scope.message = '正解';
} else {window.open("nogood01.html","good","");
$scope.message = '不正解';
}
};
}
</script>
</head>
<body>
<!--<h2>問題 1</h2>-->
<h3>hackingと入力</h3>
<div ng-controller="SampleController">
<input type="text" ng-model="text" />
<br>
<button ng-click="click()" class="btn-real">
  <i class="fas fa-broadcast-tower"></i></button>
<p></p>



</div>
</body>
</html>

    </div>

  </body>
</html>
